POSTGRES_PASSWORD=test
POSTGRES_USER=masteryuser

DJANGO_ADMIN_URL=/admin
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=#kmd0aoai7wnfox)6co!r-e)6t4=8q7ps=6=_e5)iayz56*g2*
DJANGO_ALLOWED_HOSTS=.masteringmasteries.xyz
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_SERVER_NAME=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True